<!-- certificados section -->
<section class="certificates" id="h_certificates">
    <div id="certificates-info">
        <h2 class="heading"><strong><i>Certificados</i></strong></h2>
    </div>
    <div class="certificates_list row">
        <div class="certificates_list_item col-sm-3" *ngFor="let certificate of certificates">
            <img class="certificates_list_img column_img d-block w-100" [src]="certificate.urlImgCertificate" [alt]="certificate.titleCertificate" [title]="certificate.titleCertificate">
            <h3 class="certificates_list_title column_title" id="columna_1">{{certificate.titleCertificate}}</h3>
            <p class="certificates_list_text">{{certificate.obtainedCertificate}}</p>
        </div>
        <!--<div class="certificates_list_item col-sm-3">
            <img class="certificates_list_img column_img" src="https://acortar.link/7M84o7" class="d-block w-100" alt="Oracle - ONE Latam" title="Oracle - ONE Latam">
            <h3 class="certificates_list_title column_title" id="columna_1">Desarrolladora Front - End</h3>
            <p class="certificates_list_text">En Curso</p>
        </div>
        <div class="certificates_list_item col-sm-3">
            <img class="certificates_list_img column_img" class="d-block w-100" src="https://acortar.link/19ATkC" alt="Argentina Programa" title="Argentina Programa">
            <h3 class="certificates_list_title column_title" id="columna_1">Desarrolladora Web Full Stack</h3>
            <p class="certificates_list_text">En Curso</p>
        </div>
        <div class="certificates_list_item col-sm-3">
            <img class="certificates_list_img column_img" class="d-block w-100" src="https://acortar.link/RUp5iw" alt="ConoSur Tech" title="ConoSur Tech">
            <h3 class="certificates_list_title column_title" id="columna_1">Curso Introductorio De Internet Y Programación</h3>
            <p class="certificates_list_text">Diciembre 2021</p>
        </div>
        <div class="certificates_list_item col-sm-3">
            <img class="certificates_list_img column_img" src="https://acortar.link/trraDp" alt="i2T Soluciones Informáticas" title="i2T Soluciones Informáticas">
            <h3 class="certificates_list_title column_title" id="columna_1">Bootcamp i2T Sé Programar</h3>
            <p class="certificates_list_text">Agosto - Septiembre 2021</p>
        </div>
        <div class="certificates_list_item col-sm-3">
            <img class="certificates_list_img column_img" src="https://acortar.link/PKAni4" alt="E.E.T. N° 322" title="E.E.T. N° 322">
            <h3 class="certificates_list_title column_title" id="columna_1">Técnica En Computación Y Programación</h3>
            <p class="certificates_list_text">Título Secundario 2000</p>
        </div>-->
    </div>
</section>