<div class="container">
    
    <app-editionheader></app-editionheader>

    <app-editionbanner></app-editionbanner>

    <app-editionwhoiam></app-editionwhoiam>

    <app-editioncertificates></app-editioncertificates>

    <app-editionexperiences></app-editionexperiences>

    <app-editioncomputerskills></app-editioncomputerskills>

    <app-editionprojects></app-editionprojects>

    <app-editionsoftskills></app-editionsoftskills>

    <app-editionlifelessons></app-editionlifelessons>

    <app-editionfooter></app-editionfooter>

</div>