<!-- header -->
<header>
    <aside class="left">
        <!-- logo ap -->
        <div class="logoAP">
            <img src="https://raw.githubusercontent.com/PaulaLemStaFe/PortfolioWebFullStack/master/02-Front-End-Angular/PortfolioWebFullStack/src/assets/img/banner/b0196c98-acb2-4613-93ed-b3780ab075d9.jpg" alt="Argentina Programa #YoProgramo">
        </div>
        <!-- navbar -->
        <div class="nav">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#start" alt="Inicio" title="Inicio"><i class="bi bi-house-door icon_nav_link"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#h_certificates" alt="Certificados" title="Certificados"><i class="bi bi-award icon_nav_link"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#h_experiences" alt="Experiencias" title="Experiencias"><i class="bi bi-briefcase icon_nav_link"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#computerskills_section" alt="Conocimientos Informáticos" title="Conocimientos Informáticos"><i class="bi bi-code-slash icon_nav_link"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects-section" alt="Proyectos" title="Proyectos"><i class="bi bi-pen icon_nav_link"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#softskills" alt="Habilidades" title="Habilidades"><i class="bi bi-hammer icon_nav_link"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#life_lessons" alt="Aprendizajes De Vida" title="Aprendizajes De Vida"><i class="bi bi-people icon_nav_link"></i></a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- boton login -->
    <div class="button_login">
        <a id="login" href="http://localhost:4200/login" title="Regístrate"><input type="submit" value="Regístrate"></a>
    </div>
</header>