/* ------ SECTION'S ------ */
section {
    align-items: center;
    background: url(https://acortar.link/JdY45T) repeat;
    display: flex;
    width: 100%;
}

/* ------ BANNER AND PROFILE SECTION ------ */
.whoiam {
    z-index: 999;
}

/* ------ WHO I AM SECTION ------ */
.sec_whoiam {
    background-color: #e6e1d0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 50px;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    color: #383a3c;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

#whoiam {
    margin: 5px;
}

.sec_whoiam .heading {
    font-size: 1.8em;
    font-style: italic;
    margin: 0px 10px;
    text-align: center;
}

.whoiam_text {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: justify;
}



@media screen and (max-width: 960px) {
    .whoiam {
        height: 150px;
    }
    .whoiam_text {
        font-size: 1em
    }
}