/* ------ SECTION'S ------ */
section {
    align-items: center;
    background: url(https://acortar.link/JdY45T) repeat;
    display: flex;
    width: 100%;
}

/* ------ PROJECT SECTION ------ */
.projects_section {
    background-color: #D35244;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 50px;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    flex-direction: column;
    font-size: 1.8em;
    margin: 0 auto;
    width: 100%;
}

.projects_section .heading {
    font-size: 1.8em;
    font-style: italic;
    margin: 20px 0px;
    text-transform: capitalize;
    text-align: center;
}

.projects_container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    justify-content: center;
    text-align: center;
}

.project_card {
    height: 400px;
    margin: 25px;
    position: relative;
}

.project_img {
    border-radius: 20px;
    height: 90%;
    left: 0;
    object-fit: fill;
    position: absolute;
    top: 0;
    transition: .5s;
    width: 100%;
}

.proyect_5, .proyecto_3 {
    color: #4c5057;
}

.project_content {
    opacity: 0;
    padding: 2%;
    position: relative;
    transition: .5s;
}

.project_title {
    font-size: 1.2em;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
}

.project_info {
    font-size: 0.6em;
    margin: 40px;
    text-align: center;
}

.project_btn_grp {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.project_btn {
    background: #000;
    border: none;
    border-radius: 20px;
    color: #F6EDD8;
    cursor: pointer;
    font-size: 0.7em;
    height: 40px;
    text-transform: capitalize;
}

.project_btn_grp a {
    color: #F6EDD8;
    text-decoration: none;
}

.project_btn .see {
    background: none;
    border: 2px solid #F6EDD8;
}

.project_card:hover .project_img {
    filter: blur(20px);
}

.project_card:hover .project_content {
    opacity: 1;
}



@media screen and (max-width: 960px) {
    .projects_section .heading {
        font-size: 1.3em;
    }
    .projects_container {
        grid-template-columns: repeat(1, 1fr);
    }
    .project_card {
        height: auto;
        margin: 0px;
    }
    .project_img {
        height: 200px;
        object-fit: fill;
    }
    .project_info {
        margin: 0px;
        font-size: 0.4em;
    }
    .project_btn {
        font-size: 0.4em;
    }
}