<!-- header -->
<header>
    <aside class="left">
        <!-- logo ap -->
        <div class="logoAP">
            <img src="https://raw.githubusercontent.com/PaulaLemStaFe/PortfolioWebFullStack/master/02-Front-End-Angular/PortfolioWebFullStack/src/assets/img/banner/b0196c98-acb2-4613-93ed-b3780ab075d9.jpg" alt="Argentina Programa #YoProgramo">
        </div>
    </aside>
    <!-- boton login -->
    <div class="button_login">
        <a class="logout" id="logoin" href="http://localhost:4200/home" title="Salir"><input type="submit" value="SALIR"></a>
    </div>
</header>