/* ------ SECTION'S ------ */
section {
    align-items: center;
    background: url(https://acortar.link/JdY45T) repeat;
    display: flex;
    width: 100%;
}

/* ------ JOB SECTION ------ */
.sec_experiences {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 50px;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    flex-direction: column;
    font-size: 1.2em;
    margin: 0 auto;
    padding-left: 5px;
    width: 100%;
    z-index: 999;
}

.sec_experiences .heading {
    font-size: 1.8em;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
}

/* ------ JOB SECTION/ACCORDION ------ */
.accordion {
    margin: 1.5rem;
}

.accordion-button:not(.collapsed) {
    color: #F6EDD8;
    background-color: #616060;
}

.accordion-button:not(.collapsed) {
    color: #F6EDD8;
    font-size: 1em;
}

.accordion-item {
    background-color: #616060;
    border: 1px solid rgba(0,0,0,.125);
}

.accordion-item,
.accordion-header {
    background-color: #616060;
    color: #F6EDD8;
}

.accordion-button {
    background-color: #616060;
    color: #F6EDD8;
}

.add {
    color: #F6EDD8;
}

.icon {
    border-radius: 1.5rem;
    box-shadow: 5px 5px 15px 5px #7c7b7b;
    margin: 0 1rem;
    text-decoration: none;
}

.bi-plus-square-fill {
    font-size: 2rem;
}

.icons {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.modal-body, .modal-header {
    color: #F6EDD8;
    margin: 0;
}

.modal-header {
    justify-content: center;
}

.modal-body p {
    text-align: center;
}

.modal-content {
    background-color: #4c5057;
    font-size: 1.2rem;
}

.modal-title {
    font-size: 1.4rem;
}

.btn-close {
    background-color: #dc3545;
    border-color: #dc3545;
    font-size: 1.2rem;
    opacity: 1;
}

.form-group label, .form-group input {
    margin-bottom: 1.05rem;
}

.modal-footer {
    border: none;
    justify-content: space-around;
}

.modal-footer .btn-success {
    margin-right: 1.1rem;
}

.delete {
    font-size: 1.2rem;
    padding: 0 1.5rem;
}



@media screen and (max-width: 960px) {
    .sec_experiences .heading {
        font-size: 1.3em;
    }
    .accordion-button:not(.collapsed) {
        font-size: 0.8em;
    }
}